.dashboard-content {
  background-color: #000; /* Dark background similar to the image */
  color: white;
}

.searching-card {
  background-color: #1a1a1a;
  text-align: center;
  color: white;
}

.quicklink-card {
  background-color: #292929;
  text-align: center;
  color: white;
}

.quicklink-icon {
  font-size: 30px;
  color: #4caf50; /* Adjust icon color */
}

h2, h3 {
  margin: 0;
}

p {
  margin: 4px 0;
  color: #b3b3b3;
}